$color-ff: #ffffff;
$color-dd: #dddddd;
$color-ec0086: #ec0086;
$color-bl: #121212;
$color-bl_2: #1212121e;
$color-bl_1: rgb(18, 18, 18, 0.1);
$color-bl-lg: rgb(18, 18, 18, 0.4);
$color-rd: #ff0022;
$color-rd_1: rgb(255, 0, 34, 0.9);
$color-rd_2: #ff002251;
$color-sp_1: #e0001e;
$color-gnd: linear-gradient(to top, #cc001b, #ff0022);
$color-gnd_hire: linear-gradient(to left, #cc001b, #ff0022);

$gl-g:#4885ed;
$gl-o-e:#db3236;
$gl-o_1:#f4c20d;
$gl-l:#3cba54;